body{
    background: #5F9B97;
}
.container5{
    background: #ECF5F4;
    border-radius: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.row .FormCompany .FormEmployee{
    padding: 10px;
}
.row input{
    border-radius: 47px;
    width: 75%;
}
.row input::placeholder{
    color: #b6b2b2;
}
.row textarea{
    border-radius: 25px;
    width: 75%;
    height: 120px;
}
.row textarea::placeholder{
    color: #b6b2b2;
}
.row label{
    color:#006E66;
}
.succesMessage{
    margin-top: 20px;
    background-color: #006E66;
    border-radius: 20px;
}
.succesMessage p{
    padding: 10px;
    color: #fff;
}
.faieldMessage{
    margin-top: 20px;
    background-color: red;
    border-radius: 20px;
}
.faieldMessage p{
    padding: 10px;
    color: #fff;
}
/* start empolyee search  */
.intro_employee_search{
    position: relative;
}
.intro_employee_search input{
    padding: 5px 10px;
    padding-right: 50px;
}
.intro_employee_search input:focus{
    outline: none;
}
.intro_employee_search svg{
    position: absolute;
    top: 10px;
    right: 17%;
}
/* end empolyee search  */